.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.UsernameStyle{
 padding: 10px;
 font-size: 15px;
}

.slds-form-element__legend{
	font-size: 16px;
}

.buttonStyle{
 background-color: #16325c;
 padding: 0.5rem;
 text-align: center;
 color: white;
 cursor: pointer;
 width:100%;
 margin-top: 15px;
 border-radius: 10px;
}

.toggle-password-icon {
   position: absolute;
  bottom: 29%;
  right: 6%;
  transform: translateY(-50%);
  cursor: pointer;
}