.parentTableClass{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.bgColor{
 background-color: #26ddbb;
}

.iconClass{
   --slds-c-icon-color-foreground-default:#26ddbb;
}

.slds-modal__footer_center {
    text-align: center;
}

.tableClass{
  border:none;
  text-align: center;
}